<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/globals.css">
  <link rel="stylesheet" href="/css/reg.css">
  <title>Sign-in</title>
</head>
<body>
  <header class="reg-header">
    <a href="#" class="logo-red">
      <img src="/img/f1-logo-red.png" alt="f1">
    </a>
  </header>
  <main class="reg-main">
    <div class="wrapper">
      <form th:action="@{/login}" method="post" class="reg-form">
        <h1 class="reg-title">sign-in</h1>
        <input type="text" name="username">
        <input type="password" name="password">
<!--        <label><input type="checkbox" name="remember-me" value="true"> Remember me</label>-->
        <div class="reg-btns">
          <button type="submit" class="reg-btn-signin">Sign in</button><br>
        </div><br>
        <div class="reg-btns">

          <a href="/registration" class="reg-btn-login">Go to Registration</a>

        </div>


      </form>
    </div>
  </main>
</body>
</html>